.Login-button {
    margin: 2rem;
    background-color: green;
    border: green solid 20px;
    border-radius: 20px;
}

.Login-button:hover {
    cursor: pointer;
    color: yellow;
    background-color: blue;
    border-color: blue;
}

.Login-button:active {
    color: yellow;
    background-color: red;
    border-color: red;
}

.CLose-button {
    margin-left: 94%;
    padding-top: -20%;
    background-color: red;
    color: white;
}