.button.primary {
    margin: 2rem;
    background-color: green;
    border: green solid 20px;
    border-radius: 20px;
}

.button.primary:hover {
    cursor: pointer;
    color: yellow;
    background-color: blue;
    border-color: blue;
}

.button.primary:active {
    color: yellow;
    background-color: red;
    border-color: red;
}

.close-button {
    margin-left: 94%;
    padding-top: -20%;
    background-color: red;
    color: white;
}
